<center>

<div id="left">
  <%= link_to image_tag('playgame.png',:class => "image"),:controller=>'play',:action=>'play_game' %>
</div>


<div id="right">
<%= link_to image_tag('upload.png',:class => "image"), new_user_path %>
</div>

